<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (voyageur) {
      <div>
        <h2 data-cy="voyageurDetailsHeading"><span>Voyageur</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ voyageur.id }}</span>
          </dd>
          <dt><span>Nom</span></dt>
          <dd>
            <span>{{ voyageur.nom }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ voyageur.email }}</span>
          </dd>
          <dt><span>Mot De Passe</span></dt>
          <dd>
            <span>{{ voyageur.motDePasse }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/voyageur', voyageur.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
