<div>
  <h2 id="page-heading" data-cy="PaiementHeading">
    <span>Paiements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-paiement"
        [routerLink]="['/paiement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Paiement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (paiements?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Paiement trouvé</span>
    </div>
  }

  @if (paiements && paiements.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="montant">
              <div class="d-flex">
                <span>Montant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="datePaiement">
              <div class="d-flex">
                <span>Date Paiement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reservation.id">
              <div class="d-flex">
                <span>Reservation</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (paiement of paiements; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/paiement', paiement.id, 'view']">{{ paiement.id }}</a>
              </td>
              <td>{{ paiement.montant }}</td>
              <td>{{ paiement.datePaiement | formatMediumDatetime }}</td>
              <td>
                @if (paiement.reservation) {
                  <div>
                    <a [routerLink]="['/reservation', paiement.reservation.id, 'view']">{{ paiement.reservation.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/paiement', paiement.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a [routerLink]="['/paiement', paiement.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(paiement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
