<div>
  <h2 id="page-heading" data-cy="VolHeading">
    <span>Vols</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vol"
        [routerLink]="['/vol/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Vol</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (vols?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Vol trouvé</span>
    </div>
  }

  @if (vols && vols.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="compagnie">
              <div class="d-flex">
                <span>Compagnie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="horaire">
              <div class="d-flex">
                <span>Horaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tarif">
              <div class="d-flex">
                <span>Tarif</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="siegesDisponibles">
              <div class="d-flex">
                <span>Sieges Disponibles</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (vol of vols; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/vol', vol.id, 'view']">{{ vol.id }}</a>
              </td>
              <td>{{ vol.compagnie }}</td>
              <td>{{ vol.horaire }}</td>
              <td>{{ vol.tarif }}</td>
              <td>{{ vol.siegesDisponibles }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/vol', vol.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a [routerLink]="['/vol', vol.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(vol)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
