<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (notification) {
      <div>
        <h2 data-cy="notificationDetailsHeading"><span>Notification</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ notification.id }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ notification.type }}</span>
          </dd>
          <dt><span>Contenu</span></dt>
          <dd>
            <span>{{ notification.contenu }}</span>
          </dd>
          <dt><span>Destinataire</span></dt>
          <dd>
            <span>{{ notification.destinataire }}</span>
          </dd>
          <dt><span>Reservation</span></dt>
          <dd>
            @if (notification.reservation) {
              <div>
                <a [routerLink]="['/reservation', notification.reservation.id, 'view']">{{ notification.reservation.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/notification', notification.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
