<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-paiement-heading" data-cy="PaiementCreateUpdateHeading">Créer ou éditer un Paiement</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_datePaiement">Date Paiement</label>
          <div class="d-flex">
            <input
              id="field_datePaiement"
              data-cy="datePaiement"
              type="datetime-local"
              class="form-control"
              name="datePaiement"
              formControlName="datePaiement"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_reservation">Reservation</label>
          <select
            class="form-control"
            id="field_reservation"
            data-cy="reservation"
            name="reservation"
            formControlName="reservation"
            [compareWith]="compareReservation"
          >
            <option [ngValue]="null"></option>
            @for (reservationOption of reservationsSharedCollection; track $index) {
              <option [ngValue]="reservationOption">{{ reservationOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
