<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (hotel) {
      <div>
        <h2 data-cy="hotelDetailsHeading"><span>Hotel</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ hotel.id }}</span>
          </dd>
          <dt><span>Nom</span></dt>
          <dd>
            <span>{{ hotel.nom }}</span>
          </dd>
          <dt><span>Localisation</span></dt>
          <dd>
            <span>{{ hotel.localisation }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/hotel', hotel.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
