<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    

    <p class="lead">Ceci est votre page d&apos;accueil</p>

    <div>
      @if (account !== null) {
        <div class="alert alert-success">
          @if (account) {
            <span id="home-logged-message">Vous êtes connecté en tant que &quot;{{ account.login }}&quot;.</span>
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span>Si vous voulez vous </span>
          <a class="alert-link" (click)="login()">connecter</a>
        </div>

        <div class="alert alert-warning">
          <span>Vous n&apos;avez pas encore de compte ?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register">Créer un compte</a>
        </div>
      }
    </div>
  </div>
</div>
