<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (paiement) {
      <div>
        <h2 data-cy="paiementDetailsHeading"><span>Paiement</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ paiement.id }}</span>
          </dd>
          <dt><span>Montant</span></dt>
          <dd>
            <span>{{ paiement.montant }}</span>
          </dd>
          <dt><span>Date Paiement</span></dt>
          <dd>
            <span>{{ paiement.datePaiement | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Reservation</span></dt>
          <dd>
            @if (paiement.reservation) {
              <div>
                <a [routerLink]="['/reservation', paiement.reservation.id, 'view']">{{ paiement.reservation.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/paiement', paiement.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
